version: "3.9"

services:
  dify-sandbox:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DIFY_SANDBOX_VERSION: ${DIFY_SANDBOX_VERSION:-latest}
    image: hotwa/dify-sandbox:${DIFY_SANDBOX_VERSION:-latest}
    container_name: dify-sandbox
    command: tail -f /dev/null
    env_file:
      - .env
    ports:
      - "8194:8194"   # 替换为你的沙箱服务端口
    restart: unless-stopped
